<div class="contents row">
  <div class="container">
    <h2>アカウントの編集</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname %><br />
        <%= f.text_field :nickname, autocomplete: "nickname" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>現在確認を行なっています: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(変更したくない場合は空白のままにして下さい)</i><br />
        <% if @minimum_password_length %>
          <em>変更の際は<%= @minimum_password_length %>文字以上の英数字で設定して下さい</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(変更を行うには、現在のパスワードが必要です)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "編集" %>
      </div>
    <% end %>

    <h3>アカウントの削除</h3>
    <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "アカウントを削除してもよろしいですか?" }, method: :delete %>

    <%= link_to "戻る", :back %>

  </div>
</div>
