<header class='header'>
  <div class='nav'>
    <div class="logo">
      <%= link_to image_tag("main_logo.png",class:"logo_icon"),"/" %>
      <%= link_to 'BOOK LINK', "/", class: "logo_text" %>
    </div>
    <ul class='lists'> 
      <% if user_signed_in? %> 
        <li><%= link_to '本を登録する', new_book_path, class: "book_new" %></li>
      <% end %>
      <li><%= link_to '本を探す', searchs_path, class: "books_search" %></li>
      <% if user_signed_in? %> 
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user_nickname" %></li> 
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '会員登録', new_user_registration_path, class: "sign_up" %></li>
      <% end %>
    </ul>
  </div>
</header>