<div class='main'> 
  <h1 class="index">書籍情報の編集</h1><br>
  <div class="book_contents">
    <div class="title_isbn">
      <div class="edit_book_title">
        <%= @book.title %>
      </div>
      <div class="edit_isbn">
        （ ISBN：<%= @book.isbn %> ）
      </div>
    </div>
    <% if @book.cover != "" %>
      <div class='item_img_content'>
        <%= image_tag @book.cover, class: 'book_cover' %>
      </div>
    <% else %>
      <% if @book.image.attached? %>
        <%= image_tag @book.image.variant(resize: '200x286') %><br>
        <p class="add_image">(画像を変更する事が可能です)</p>
      <% else %>
        <%= image_tag "No image.png", size:'200x286' %><br>
        <p class="add_image">(可能でしたら登録して下さい)</p>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: @book, url: book_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="book_cover_field">
      <% unless @book.cover != "" %>
        <%= f.file_field :image, id:"image" %>
        <div id="image-list"></div>
      <% end %>
    </div>
    <table>
      <tr>
        <td class="td_edit_index">
          <label>タイトル (必須)</label>
        </td>
        <td class="td_edit_form">
          <div class="form_field">
            <%= f.text_field :title, id:"title", class:"title_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_edit_index">
          <label>出版社 (必須)</label>
        </td>
        <td class="td_edit_form">
          <div class="form_field">
            <%= f.text_field :publisher, id:"publisher", class:"publisher_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_edit_index">
          <label>著者 (必須)</label>
        </td>
        <td class="td_edit_form">
          <div class="form_field">
            <%= f.text_field :author, id:"author", class:"author_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan="4" class="td_edit_index">
          <label>ジャンル </label>
        </td>
        <tr>
          <td class="td_edit_form">
            <div class="form_field">
              <div class="c_code_complement">販売対象：
                <%= f.collection_select(:ccode_firstdigit_id, CcodeFirstdigit.all, :id, :name, {prompt: '---'}, {class:"category_firstselect book_form", id:"c-code-first"}) %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td_edit_form">
            <div class="form_field">
              <div class="c_code_complement">書籍形態：
                <%= f.collection_select(:ccode_seconddigit_id, CcodeSeconddigit.all, :id, :name, {prompt: '---'}, {class:"category_secondselect book_form", id:"c-code-second"}) %>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="td_edit_form">
            <div class="form_field">
              <div class="c_code_complement">   内容：
                <%= f.collection_select(:ccode_thirddigit_id, CcodeThirddigit.all, :id, :name, {prompt: '---'}, {class:"category_thirdselect book_form", id:"c-code-third"}) %>
              </div>
            </div>
          </td>
        </tr>
      </tr>
      <tr>
        <td class="td_edit_index">
          <label>内容 / あらすじ </label>
        </td>
        <td class="td_edit_description_form">
          <div class="form_field">
            <%= f.text_area :description, id:"description", class:"edit_description_form book_form" %>
          </div>
        </td>
      </tr>
    </table>
    <div class="form_btn">
      <%= f.submit "更新する", class:"send_btn" %>
    </div>
  <% end %>
</div>