<div class='main'> 
  <div class="book_link_explanation">
    <p class="app_title">BOOK LINK</p>
    <p class="app_explanation">今求めている本と出会うの実現を目指しているサービスです</p>
    <p class="app_explanation">そして多くの本・読者とつながることを思うサービスです</p>
  </div>
  <div class='first_contents'>
    <div id='bookslider'>
      <ul class="bxslider">
        <% if @books != blank? %>
          <% @books.each do |book| %>
            <%= link_to book_path(book.id), method: :get do %> 
              <li class='book_list'>
                <% if book.cover != "" %>
                  <div class='book_img_content'>
                    <%= image_tag book.cover, class: 'book_cover' %>
                  </div> 
                <% else %>
                  <% if book.image.attached? %>
                    <%= image_tag book.image.variant(resize: '200x286') %>
                  <% else %>
                    <%= image_tag "No image.png", size:'200x286' %>
                  <% end %>
                <% end %>
                <div class='book_info'>
                  <h3 class='book_title'>
                    <%= book.title %>
                  </h3>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="second_contents">
    <div class="can_do_title">
      <p class="can_do_title_text">BOOK LINKで出来ること</p>
    </div>
    <div class="can_do">
      <div class="can_do_contents">
        <p class="contents_index">本情報の登録</p>
        <ul class="details_lists">
          <li class="list_text">どんな時に読んだか・どんな気分になったっかを登録出来ます。</li>
          <li class="list_text">ISBN入力により本情報を自動で入力出来ます。</li>
          <li class="list_text">手入力にての本情報の入力や編集も可能です。</li>
        </ul>
      </div>
      <div class="can_do_contents">
        <p class="contents_index">本を探す</p>
        <ul class="details_lists">
          <li class="list_text">今の気分にあった本を探せます。</li>
          <li class="list_text">キーワード入力で本を探せます。</li>
          <li class="list_text">ジャンルより本を探せます。</li>
        </ul>
      </div>
      <div class="can_do_contents">
        <p class="contents_index">他の読者ともつながれます</p>
        <ul class="details_lists">
          <li class="list_text">その本を他の人がどんな時に読んだか・どんな気分になかったかを見ることが出来ます。</li>
          <li class="list_text">他の人の感想を見ることが出来ます。</li>
        </ul>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.bxslider').bxSlider({
        auto: true,           // 自動スライド
        speed: 1000,          // スライドするスピード
        moveSlides: 1,        // 移動するスライド数
        pause: 3000,          // 自動スライドの待ち時間
        maxSlides: 6,         // 一度に表示させる最大数
        slideWidth: 250,      // 各スライドの幅
        randomStart: true,    // 最初に表示するスライドをランダムに設定
        autoHover: true,      // ホバー時に自動スライドを停止
        touchEnabled: false   // スワイプ機能
      });
    });
  </script>

</div>