<div class='main'> 
  <div class='hoge'>
  </div>
  <div class="book-info-form">
    <h1 class="h1">新たに本を登録する</h1>
    <%= form_with url: new_book_path, method: :post, local: true do |f| %>
      <div class="form-field">
        <label>ISBN</label><nobr class="complement">（ ISBNの入力で本の情報を検索出来ます。 ）</nobr>
        <div class="isbn-fild">
          <%= f.text_field :isbn, id:"isbn", class:"isbn-form" %>
          <button id="getBookContents" class="get-book-info-button">検索</button>
        </div>
        <p class="complement">※ISBNは本の裏表紙ISBNコード若くはジャンコードに記載されている「9784」から始まる13桁の数字です。</p>
        <p class="example-numbers">(例：9784839962227)</p>
      </div>
      <div class="form-field">
        <div id="thumbnail"></div>
        <%= f.hidden_field :image, id:"book-images"%>
        <div id="book-image-field">
          <label>イメージ </label>
          <%= f.file_field :image, id:"book-image" %>
        </div>
      </div>
      <div class="form-field">
        <label>タイトル (必須)</label>
        <%= f.text_field :title, id:"title", class:"title-form book-info" %>
      </div>
      <div class="form-field">
        <label>出版社 (必須)</label>
        <%= f.text_field :publisher, id:"publisher", class:"publisher-form book-info" %>
      </div>
      <div class="form-field">
        <label>著者 (必須)</label>
        <%= f.text_field :author, id:"author", class:"author-form book-info" %>
      </div>
      <div class="form-field">
        <label hidden>発売日 </label>
        <%= f.hidden_field :publication_date, id:"pubdate", class:"pubdate-form book-info"%>
      </div>
      <div class="form-field">
        <label>ジャンル </label><br>
        <p class="complement">※自動入力されなかった際は選択して下さい。(情報が無くとも登録は可能です)</p>
        <div class="c_code-complement">販売対象：
          <%= f.collection_select(:ccode_firstdigit_id, CcodeFirstdigit.all, :id, :name, {prompt: '---'}, {class:"category-firstselect book-info", id:"c_code_first"}) %>
        </div>
        <div class="c_code-complement">書籍形態：
          <%= f.collection_select(:ccode_seconddigit_id, CcodeSeconddigit.all, :id, :name, {prompt: '---'}, {class:"category-secondselect book-info", id:"c_code_second"}) %>
        </div>
        <div class="c_code-complement">　　内容：
          <%= f.collection_select(:ccode_thirddigit_id, CcodeThirddigit.all, :id, :name, {prompt: '---'}, {class:"category-thirdselect book-info", id:"c_code_third"}) %>
        </div>
      </div>
      <div class="form-field">
        <label>内容 </label>
        <%= f.text_area :description, id:"description", class:"description-form book-info" %>
      </div>
      <div class="form-field">
        <label hidden>説明 </label>
        <%= f.hidden_field :keyword, id:"keyword", class:"keyword-form book-info" %>
      </div>
      <div class="btn">
        <%= f.submit "登録する", class:"send-btn" %>
      </div>
    <% end %>
  </div>

  <script>
    $(function() {
      $('#getBookContents').click( function( e ) {
        e.preventDefault();
        $('.book-info').val(" ");
        $("#thumbnail").html(' ');
        $("#book-image-field").css({'visibility':'visible','display':'inline'});
        const isbn = $("#isbn").val();
        const url = "https://api.openbd.jp/v1/get?isbn=" + isbn;

        $.getJSON( url, function( data ) {
          if( data[0] == null ) {
            alert("データが見つかりません");
          } else {
            if( data[0].summary.cover == "" ){
              $("#thumbnail").html('<label>イメージ画像がありません可能でしたら画像を登録して下さい</label>');
            } else {
              $("#thumbnail").html('<label>イメージ</label><br><img src=\"' + data[0].summary.cover + '\" style=\"margin: 5px 0 20px 0\" />');
              $("#book-image-field").css({'visibility':'hidden','display':'none'});
            }
            console.log(data[0])
            $("#title").val(data[0].summary.title);
            $("#publisher").val(data[0].summary.publisher);
            $("#author").val(data[0].summary.author);
            $("#pubdate").val(data[0].summary.pubdate);
            $("#description").val(data[0].onix.CollateralDetail.TextContent[1].Text);
            $("#keyword").val(data[0].onix.DescriptiveDetail.Subject[1].SubjectHeadingText);
            const c_code = Number(data[0].onix.DescriptiveDetail.Subject[0].SubjectCode);
            const c_code_first = parseInt((c_code / 1000), 10);
            const c_code_second = parseInt((c_code / 100 ) % 10, 10);
            const c_code_third = c_code % 100;
            $("#c_code_first").val(c_code_first);
            $("#c_code_second").val(c_code_second);
            $("#c_code_third").val(c_code_third);
            const test = data[0].summary.cover;
            const test2 = test.slice(0,-1);
            console.log(test2);
            $("#book-images").val(data[0].summary.cover);
            $("#book-image").val(test2);
          }
        });
      });
    });
  </script>

</div>