<div class='new_main'> 
  <h1 class="index">新たな本の登録</h1>
  <%= form_with model: @book_data, url: books_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: @book_data %>
    <table>
      <tr>
        <td class="td_index">
          <label>ISBN</label>
          <p class="complement">※ISBNの検索で本の情報を自動入力出来ます</p>
        </td>
        <td class="td_form">
          <div class="form_field">
            <div class="isbn_field">
              <%= f.text_field :isbn, autofocus: true, id:"isbn", class:"isbn_form" %>
              <button id="getBookContents" class="get_book_info_button">検索</button>
            </div>
          </div>
          <p class="form_complement">※ISBNは本の裏表紙ISBNコードまたはジャンコードに記載されている「978」から始まる13桁の数字です</p>
          <p class="example">例) 9784839962227</p>
        </td>
      </tr>
      <tr>
        <td class="td_index">
          <label>イメージ </label>
        </td>
        <td class="td_form">
          <div class="form_field">
            <div id="thumbnail"></div>
            <div class="book_image_field">
              <%= f.hidden_field :cover, id:"book-image", class:"book_form" %>
            </div>
            <div id="book-image-field">
              <%= f.file_field :image %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_index">
          <label>タイトル (必須)</label>
        </td>
        <td class="td_form">
          <div class="form_field">
            <%= f.text_field :title, id:"title", class:"title_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_index">
          <label>出版社 (必須)</label>
        </td>
        <td class="td_form">
          <div class="form_field">
            <%= f.text_field :publisher, id:"publisher", class:"publisher_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_index">
          <label>著者 (必須)</label>
        </td>
        <td class="td_form">
          <div class="form_field">
            <%= f.text_field :author, id:"author", class:"author_form book_form" %>
          </div>
        </td>
      </tr>
      <tr>
        <td class="td_index">
          <label>感情 (必須)</label>
          <p class="complement">※どんな時に読んだかや、読み終えどんな気持ちになったかを一緒に登録してください</p>
        </td>
        <td class="td_form">
          <div class="form_field">
            <%= f.text_field :mood_text, class:"mood_form book_form" %>
            <p class="example">例) 明るくなりたい時・何かに挑戦したい時・頑張ろうと思えた など・・・</p>
          </div>
        </td>
      </tr>
      <div class="pubdate_form">
        <%# 発売日 %>
        <%= f.hidden_field :publication_date, id:"pubdate", class:"book_form" %>
      </div>
      <div class="category_form">
        <%# カテゴリー %>
        <%= f.collection_select(:ccode_firstdigit_id, CcodeFirstdigit.all, :id, :name, {prompt: '---'}, {class:"category_firstselect book_form", id:"c-code-first"}) %>
        <%= f.collection_select(:ccode_seconddigit_id, CcodeSeconddigit.all, :id, :name, {prompt: '---'}, {class:"category_secondselect book_form", id:"c-code-second"}) %>
        <%= f.collection_select(:ccode_thirddigit_id, CcodeThirddigit.all, :id, :name, {prompt: '---'}, {class:"category_thirdselect book_form", id:"c-code-third"}) %>
      </div>
      <div class="description_form">
        <%# 内容 %>
        <%= f.text_area :description, id:"description", class:"book_form" %>
      </div>
      <div class="keyword_form">
        <%# 説明 %>
        <%= f.hidden_field :keyword, id:"keyword", class:"book_form" %>
      </div>
    </table>
    <div class="form_btn">
      <%= f.submit "登録する", class:"send_btn" %>
    </div>
  <% end %>
</div>