<div class='main'> 
  <div class="book_data">
    <div class="left_content">
      <div class="show_book_title">
        <%= @book.title %>
      </div>
      <div class="book_image">
        <% if @book.cover != "" %>
          <div class='item_img_content'>
            <%= image_tag @book.cover, class: 'book_cover' %>
          </div> 
        <% else %>
          <% if @book.image.attached? %>
            <%= image_tag @book.image.variant(resize: '200x286') %>
          <% else %>
            <%= image_tag "No image.png", size:'200x286' %>
          <% end %>
        <% end %>
      </div>
      <div class="book_information_left">
        <div class="book_author">
          <label>著者：</label>
          <%= @book.author %>
        </div>
        <div class="book_publisher">
          <label>出版社：</label>
          <%= @book.publisher %>
        </div>
        <div class="book_publication">
          <label>発売日：</label>
          <%= @book.publication_date %>
        </div>
        <div class="book_isbn">
          <label>ISBN：</label>
          <%= @book.isbn %>
        </div>
        <% if user_signed_in? %>
          <% if @book.user_id == current_user.id %>
            <p class="edit_menu_text">編集メニュー</p>
            <div class="btn">
              <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "book_edit_btn" %>
              <%= link_to '削除', book_path(@book.id), method: :delete, class: "book_destroy_btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="right_content">
      <div class="book_information_right">
        <% if @book.ccode_firstdigit_id != nil || @book.ccode_seconddigit_id != nil || @book.ccode_thirddigit_id != nil%>
          <label class="genre_title">ジャンル</label>
        <% end %>
        <div class="book_genre">
          <% if @book.ccode_firstdigit_id != nil %>
            <div class="book_c_code">
              <div class="c_code_first_complement">
                <%= @book.CcodeFirstdigit.name %>
              </div>
            </div>
          <% end %>
          <% if @book.ccode_seconddigit_id != nil %>
            <div class="book_c_code">
              <div class="c_code_second_complement">
                <%= @book.CcodeSeconddigit.name %>
              </div>
            </div>
          <% end %>
          <% if @book.ccode_thirddigit_id != nil %>
            <div class="book_c_code">
              <div class="c_code_third_complement">
                <%= @book.CcodeThirddigit.name %>
              </div>
            </div>
          <% end %>
        </div>
        <% unless @book.description.blank? %>
          <div class="book_description">
            <label class="description_title">内容</label>
            <div class="text"><%= @book.description %></div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
  <div class="communication_contents">
    <div class="mood_data">
      <h1 class="mood_data_index">どんな時に読んだか・読み終えての気分は？</h1>
      <div class="mood_contents">
        <% @mood_datas.each do |mood|%>
          ・<%= mood.mood_text %><br>
        <% end %>
      </div>
      <%= form_with model: @mood, url: mood_create_book_path, local: true do |f| %>
        <div class="mood_input_form">
          <%= f.text_area :mood_text, placeholder: "どんな時に読んだか・読み終えての気分を入力して下さい", rows: "2" %>
          <%= f.submit "投稿する", class:"send_btn" %>
        </div>
      <% end %>
    </div>
    <div class="comment_data">
      <h1 class="comment_data_index">＜コメント一覧＞</h1>
      <% @comments.each do |comment| %>
        <p>
          <b><%= comment.user.nickname %>：</b>
          <%= comment.text %>
        </p>
      <% end %>
      <% if user_signed_in? %>
        <%= form_with(model: [@book, @comment], local: true) do |f| %>
          <div class="comment_input_form">
            <%= f.text_area :text, placeholder: "コメントを入力して下さい", rows: "2" %>
            <%= f.submit "コメントする", class:"send_btn" %>
          </div>
        <% end %>
      <% else %>
        <p class="warning_text">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      <% end %>
    </div>
  </div>
</div>