<div class='main'>
  <h1 class="h1">検索項目</h1>
  <div class="feeling_field">
    <label>今の気分より本を探す</label>
    <%# <form action="/searchs/search" method="get" class="search_form">
      <div>
        <input type=text class="search_input" id="mood_input">
        <div id="search_result" class="result_form"></div>
      </div>
      <button class="search_btn">検索</button>
    </form> %>
    <%= form_with url: search_searchs_path, method: :get, local: true do |f| %>
      <%= f.text_field :mood_text, id: "mood_input", class:"search_input"%>
      <div id="search_result" class="result_form"></div>
      <%= f.submit '検索' %>
    <% end %>
  </div>

  <div class="keyword_field">
    <label>キーワードにて本を探す</label>
    <form class="search_form">
      <div>
        <input type=text class="search_input" id="keyword_input">
        <div id="search_keyword_result" class="result_form"></div>
      </div>
      <button class="search_btn">検索</button>
    </form>
  </div>

  <div class="genre_field">
    <label>ジャンルより本を探す</label>
    <%= search_form_for @p, url: ccode_search_searchs_path do |f| %>
      <%= f.label :ccode_firstdigit_id_eq, '販売対象' %>
      <%= f.collection_select :ccode_firstdigit_id_eq, CcodeFirstdigit.where(id: @ccode_first_num), :id, :name, include_blank: '指定なし' %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
    <%= search_form_for @p, url: ccode_search_searchs_path do |f| %>
      <%= f.label :ccode_seconddigit_id_eq, '発行形態' %>
      <%= f.collection_select :ccode_seconddigit_id_eq, CcodeSeconddigit.where(id: @ccode_second_num), :id, :name, include_blank: '指定なし' %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
    <%= search_form_for @p, url: ccode_search_searchs_path do |f| %>
      <%= f.label :ccode_thirddigit_id_eq, '内容' %>
      <%= f.collection_select :ccode_thirddigit_id_eq, CcodeThirddigit.where(id: @ccode_third_num), :id, :name, include_blank: '指定なし' %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
  </div>
</div>